# vscode folder
.vscode

# Python Virtual environmnet 
.venv

# Git repo deepfake model
Ethical-Hacking/lab04-phising/first-order-model

# Connect4 pycache
FAI/__pycache__

# redis cluster server stuffs
NRDS/lab3-redis/*.conf
NRDS/lab3-redis/700*
NRDS/lab3-redis/appendonlydir
NRDS/lab3-redis/dump.rdb