# vscode folder
.vscode

# Python Virtual environmnet 
.venv

# FAI ignore files
FAI/__pycache__

# NRDS ignore files
NRDS/lab3-redis/*.conf
NRDS/lab3-redis/700*
NRDS/lab3-redis/appendonlydir
NRDS/lab3-redis/dump.rdb

# NN ignore files
NN/lab-classification/*.png
